#news .wrap {
  padding: 78px 31px 50px 31px;
}
#news .wrap h2 {
  font-weight: bold;
  margin-bottom: 30px;
  width: 962px;
  margin: 0 auto 35px auto;
}
#news .wrap ul {
  justify-content: center;
}
#news .wrap ul li {
  border: 1px solid rgba(0,0,0,0.08);
  width: 473px;
  height: 162px;
  position: relative;
  margin-bottom: 16px;
  box-sizing: border-box;
}
#news .wrap ul li:nth-child(2) {
  margin-left: 16px;
}
#news .wrap ul li a {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 24px 0 190px;
}
#news .wrap ul li a img {
  width: 162px;
  height: 162px;
  position: absolute;
  top: 0;
  left: 0;
}
#news .wrap ul li a h3 {
  color: rgb(0,121,107);
  padding: 38px 0 14px 0;
}
#news .wrap ul li a p {
  line-height: 1.6;
  color: rgba(0,0,0,0.56);
}